/* CSS files add styling rules to your content */

/* HEX: #eaece5

HEX: #b2c2bf

HEX: #c0ded9

HEX: #3b3a30 */
html {
  /* overflow-y: scroll; 
  overflow-x:hidden; */
}

body {
  /* font-family: helvetica, arial, sans-serif;
  margin: 2em; */
  position: absolute;
  /* overflow-y: scroll;  */
  font-family: 'Quicksand', sans-serif;
  font-weight: 450;
  /* font-weight: normal; */
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #3b3a30;
  text-align: center;
  font-size: 300%; 
}

.container-time{
  background-color:#eaece5;
  height: 100px;
  /* border-top-left-radius: 25%;
  border-top-right-radius: 25%; */
}

.container{
  background-color: #b2c2bf
  border: solid;
  width: auto;
  height: auto;
  display: flexbox;
  padding: 20px;
  font-size: 120%;
}

.mtnImg {
  height: 300px;
  width: 100%;
}

.container1 {
 background-color: #b2c2bf
 height: 100px;
}

.container2 {
  background-color: #eaece5
}

#todoForm {
  /* background-color: red; */
  text-align: center;
  /* font-size: 36px; */
}

textarea{
  width: 400px;
  border-radius: 25px;
  font-size: 25px;
  height: 35px;
  text-align: center;
}

input[type=text] {
  color: blue'
  font-size: 26px;
}

.container3 {
  background-color: #c0ded9
}

.container4 {
  background-color: #eaece5
}

#taskContainer {
  background-color: #b2c2bf
}

button .removeList, #listAddButton, #taskAddButton{
  width: 25px;
  height: 25px;
  color: #3b3a30;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin-top: 20px;
  position: relative;
  top: 5px;
}

.selected {
  font-weight: bolder;
  /* color: red; */
}

.spanClass {
  font-weight: normal;
  color: black;
}