/* CSS files add styling rules to your content */

/* HEX: #eaece5

HEX: #b2c2bf

HEX: #c0ded9

HEX: #3b3a30 */
html {
  /* overflow-y: scroll; 
  overflow-x:hidden; */
}

body {
  /* font-family: helvetica, arial, sans-serif;
  margin: 2em; */
  position: absolute;
  /* overflow-y: scroll;  */
  font-family: 'Quicksand', sans-serif;
  font-weight: 450;
  /* font-weight: normal; */
  margin: 2em;
  color: #3b3a30;
}

h1 {
  font-style: italic;
  color: #3b3a30;
  text-align: center;
  font-size: 280%; 
  -webkit-text-decoration: ; 
  text-decoration: ;
}

.container-time{
  background-color:#eaece5;
  height: 100px;
  /* border-top-left-radius: 25%;
  border-top-right-radius: 25%; */
}

.container{
  background-color: #b2c2bf;
  /* border: solid; */
  width: auto;
  height: auto;
  display: flexbox;
  padding: 20px;
  /* font-size: 120%; */
}
/*
.display{
  overflow: scroll;
}
*/

.mtnImg {
  height: 300px;
  width: 100%;
}

.container1 {
 background-color: #b2c2bf;
 /* height: 100px; */
}

.container2 {
  background-color: #c0ded9;
  font-size: 250%;
  text-align: center;
}

.container3 {
  background-color: #c0ded9
}

ul {
  list-style-type: none;
}

#todoForm {
  /* background-color: red; */
  text-align: center;
  /* position: relative; */
  margin: 0px;
  padding: 0px;
  /* font-size: 36px; */
}

textarea { 
  width: 400px;
  border-radius: 25px;
  font-size: 25px;
  height: 35px;
  text-align: center;
  margin-bottom: -8px;
}

input[type=text] {
  color: blue;
  font-size: 26px;
}

.container4 {
  background-color: #eaece5;
}

#taskContainer {
  background-color: #b2c2bf;
  font-size: 200%;
  text-align: center;
}

#removeList, .removeList, #editList, .editList, #listAddButton, #taskAddButton{
  width: 35px;
  height: 35px;
  /* color: #3b3a30; */
  margin-left: 10px; 
  position: relative;
  bottom: 8px;
  border-radius: 5px;
}

input[type=checkbox] {
  width: 35px;
  height: 35px;
  margin-top: 20px;
  position: relative;
  top: 5px;
  left: 5px;
}

.selected {
  font-weight: bolder;
  /* color: red; */
}

.spanClass {
  font-weight: normal;
  color: #3b3a30;
}
/* Cross out selected item once completed */
.crossOut {
  text-decoration: line-through;
}
.noCrossOut {
  text-decoration: none;
}